.rectImage {
    position: absolute;
    border: 0.7vh solid #F4D676;
	height: 45vh;
	width: 30vh;
	margin-top: 4.5vh;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
} 

a {
	text-decoration: none;
	color: #F4D676;
	cursor: pointer;
}
 
.downloadBut1 {
    position: absolute;
    border: 0.7vh solid #F4D676;
	height: 6vh;
	width: 30vh;
	margin-top: 54.0vh;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.downloadBut1:hover {
	box-shadow: inset 0vh -5vh 10vh 10vh #5C2686;
}

.downloadBut2 {
    position: absolute;
    border: 0.7vh solid #F4D676;
	height: 6vh;
	width: 30vh;
	margin-top: 54.0vh;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.downloadBut2:hover {
	box-shadow: inset 0vh -5vh 10vh 10vh #5C2686;
}

.imagePost {
	width: 30vh;
	overflow: hidden;
	
}

@media (min-width:0px) and (max-width:600px) {

    .holder {
        height: 118vh;
        width: 30vh;
        margin: auto;
    }

    .mainBody {
        height: 100%;
        width: auto;
        background-color: #FF1690;
    }

}