.mainBody {
    height: 66.66vh;
    width: auto;
    background-color: #FF1690;
}

h2 {
    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

.holder {
    height: 66.66vh;
	width: 75vh;
    margin: auto;
}

.column1 {
    width: 10vh;
    height: 10vh;
}

.buttons {
    width: 10vh;
    height: 10vh;
}

.column2 {
    width: 10vh;
    height: 10vh;
} 
